{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  {{transductor.name}} - {% trans "Informações" %}
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li><a href="{% url 'campuses:index' %}">{% trans "Câmpus" %}</a></li>
    <li><a href="{% url 'campuses:campus_index' campus.url_param %}">{{campus.acronym}}</a></li>
    <li><a href="{% url 'buildings:index' building.id %}">{{building.name}}</a></li>
    <li class="active">{{transductor.name}}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">

      <header class="page-header">
        <h1 class="page-title">{{transductor.name}} - {% trans "Informações" %}</h1>
      </header>

      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        {% if perms.users.manager_transductors %}
          <div class="text-center">
            <b><a href="{% url 'transductor:edit' transductor.id %}" class="btn btn-warning">{% trans "Editar Informações" %}</a></b>

            {% if transductor.active %}
              <form class="enable_disable_buttons" action="{% url 'transductor:disable' transductor_id=transductor.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger onclick=" onclick="return confirm('Deseja realmente desabilitar?')">{% trans "Desativar Transdutor" %}</button>
              </form>
            {% else %}
              <form class="enable_disable_buttons" action="{% url 'transductor:enable' transductor_id=transductor.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-success" onclick="return confirm('Deseja realmente habilitar o transdutor?')">{% trans "Ativar Transdutor" %}</button>
              </form>
            {% endif %}
          </div>
        <hr>
        {% endif %}

        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{% trans "Informações" %}</h3>
            <hr>

            <div class="top-margin">
              <label>{% trans "Edifício" %}:</label>
              <p>{{transductor.building}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Modelo" %}:</label>
              <p>{{transductor.model}}</p>
            </div>

            {% if perms.users.manager_transductors %}
              <div class="top-margin">
                <label>{% trans "Número de IP" %}:</label>
                <p>{{transductor.ip_address}}</p>
              </div>
            {% endif %}

            <div class="top-margin">
              <label>{% trans "Nome" %}:</label>
              <p>{{transductor.name}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Descrição do Local Instalado" %}:</label>
              <p>{{transductor.local_description}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Comentários" %}:</label>
              <p>{{transductor.comments}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Data Última Calibração" %}:</label>
              {% if transductor.calibration_date %}
                <p>{{transductor.calibration_date}}</p>
              {% else %}
                <p>N/A</p>
              {% endif %}
            </div>

            <div class="top-margin">
              <label>{% trans "Data Última Coleta de Dados" %}:</label>
              {% if transductor.energymeasurements_set.last %}
                <p>{{transductor.energymeasurements_set.last.collection_date}}</p>
              {% else %}
                <p>N/A</p>
              {% endif %}
            </div>
          </div> <!-- end div panel- -->
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
