{% extends 'base.html' %}

{% load i18n %}

{% block title %}
  {% trans "Minha Conta" %}
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li class="active">{% trans "Minha Conta" %}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">{% trans "Informações da Conta" %}</h1>
      </header>

      <div class="container">
        <h2 class="text-center thin">{% trans "Escolha uma opção" %}</h2>

        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-user sr-icons"></i>
              <h3><a href="{% url 'my_account:self_edit' %}">{% trans "Editar Perfil" %}</a></h3>
              <p>{% trans "Permite a Modificação de Informações Básicas da Conta" %}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-key sr-icons"></i>
              <h3><a href="{% url 'my_account:change_password' %}">{% trans "Alterar Senha" %}</a></h3>
              <p>{% trans "" %}</p>
            </div>
          </div>

        </div>
      </div>
      <hr>
    </article>
  </div>
</div>
{% endblock %}